body{
    background-color: hsl(0, 0%, 25%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}
h1{
    color: hsl(0, 0%, 95%);
    font-size: 3rem;
    font-weight: bold;
}
h4, h2{
    color: hsl(0, 0%, 95%);
    font-weight: bold;
}
h4{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
button{
    position: relative;
    top: 5px;
    right: -200px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: hsl(240, 48%, 52%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;

    transition: transform 0.3s ease-in;
}
button:hover{
    background-color: hsl(240, 48%, 62%);

    transform: scale(1.1);
}
.word-display{
    position: relative;
    top: 0px;
}
.hangman-container{
    height: 300px;
    width: 500px;
    background-color: hsl(0, 0%, 15%);
    align-items: center;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.guesses{
    position: relative;
    bottom: -60px;
    color: hsl(0, 0%, 95%);
    height: 200px;
    width: 500px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 7.5px; 
}
.submit-container{
    height: 100px;
    width: 300px;
    background-color: hsl(0, 0%, 15%);
    position: relative;
    bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.done{
    font-size: 1.75rem;
    position: relative;
    left: 0px;
    background-color: hsl(84, 31%, 52%);
}
.done:hover{
    background-color: hsl(84, 31%, 62%)
}
.h{
    position: relative;
    top: -30px;
}
#play{
    font-size: 2.5rem;
    position: relative;
    top: -50px;
    left: -0px;
}
.guess-input{
    font-size: 1.5rem;
    position: relative;
    bottom: -30px;
    left: -75px;
    color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px hsl(0, 0%, 35%);
}
